groups:
- name: system_alerts
  rules:

  - alert: InstanceDown
    expr: up == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "Instancia caída"
      description: "La instancia {{ $labels.instance }} no responde"

  - alert: HighCPUUsage
    expr: (100 - avg by(instance)(rate(node_cpu_seconds_total{mode="idle"}[1m])) * 100) > 85
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "Uso alto de CPU"
      description: "CPU > 85% durante más de 2 minutos"

  - alert: LowDiskSpace
    expr: (node_filesystem_avail_bytes{fstype!~"tmpfs|overlay"} / node_filesystem_size_bytes{fstype!~"tmpfs|overlay"}) * 100 < 15
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "Poco espacio en disco"
      description: "Queda menos del 15% libre en {{ $labels.mountpoint }}"
